<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }} - Contoh Mainan Baru</title>
        <style>{{> style }}</style>
    </head>
    <body>
        {{> header }}
        <h3>{{ title }} - Some Heading Element</h3>
        <p>This is some paragraf</p>

        <!-- get footer.hbs -->
        {{> footer }}
    </body>
</html>