<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{{ title }}}</title>
        <style>{{> style }}</style>
    </head>
    <body>
        <h3>Akan kembali besok</h3>
        <p>
            Situs ini akan diperbaharui... wwkwkkw
        </p>
    </body>
</html>