<header>
    <h3>Bagian Header - {{ title }}</h3>
    <div class="asik">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Proyek</a>
    </div>
    {{!-- <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul> --}}
</header>